@mixin flex($fd, $jc, $ai, $fw) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}

@mixin list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

$STEPS_LINE_TEXT_COLOR_WHITE: white;

$COLOR_MAIN: #424b5a;
$COLOR_SECONDARY: #c2d1d9;
$COLOR_MAIN_OPACITY_05: rgba(66, 75, 90, 0.51);
$COLOR_GREY: #f2f5f7;
